{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Envio de Mensajes{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/admin/css/pages/profile.css') }}" rel="stylesheet" type="text/css"
          xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/admin/plugins/select2/select2_metro.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/data-tables/DT_bootstrap.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row-fluid inbox">
        <div class="span2">
            <ul class="inbox-nav margin-bottom-10">
                <li class="compose-btn">
                    <!--<a href="" data-title="Compose" class="btn green">-->
                    <a href="javascript:mostrarFormulario('composeform')" data-title="Compose" class="btn green">
                        <i class="icon-edit"></i> Compose
                    </a>
                </li>
                <li class="inbox active">
                    <a href="{{ path('management_user_message') }}" class="btn" data-title="Inbox">Recibidos ({{ listaemail | length }})</a>
                    <b></b>
                </li>
                <li class="sent"><a class="btn" href="javascript:;"  data-title="Sent">Enviados</a><b></b></li>
            </ul>
        </div>
        <div class="span10">
            <div class="inbox-header">
                <h1 class="pull-left">
                {% block titlemessage %}
                {% endblock %}
                </h1>
                <form action="#" class="form-search pull-right">
                    <div class="input-append">
                        <input class="m-wrap" type="text" placeholder="Search Mail">
                        <button class="btn green" type="button">Buscar</button>
                    </div>
                </form>
            </div>

            <!--<div class="inbox-loading">Loading...</div>-->
            <div id="htmlext" class="inbox-content">

                <!-- Tabla para mostrar los mensajes en a bandeja de entrada-->
                <div class="tabbable tabbable-custom tabbable-custom-profile" id="inboxform" style="display: block">
                    <table class="table table-striped table-advance table-hover" id="network">
                        <thead>
                        <tr>
                            <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                            <th><i class="icon-picture"></i> De</th>
                            <th><i class="icon-user"></i> Asunto</th>
                            <th class="hidden-480"><i class="icon-group"></i> Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set contador = 0 %}
                        {% for datos in listaemail %}
                            <tr>
                                <td><input type="checkbox" class="checkboxes" value="1" /></td>
                                <td>{{ datos.sender }}</td>
                                <td class="highlight">

                                    <div class="portlet-body">
                                        <!-- Button to trigger modal -->
                                        <a href="#myModal{{ contador }}" data-toggle="modal">{{ datos.asunto }}</a>
                                        <!-- Modal -->
                                        <div id="myModal{{ contador }}" class="modal hide fade" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel{{ contador }}" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true"></button>
                                                <h1 id="myModalLabel{{ contador }}">Mensaje Recibido</h1>
                                                <h4 id="myModalLabel{{ contador }}">De: {{ datos.sender }}</h4>
                                                <h4 id="myModalLabel{{ contador }}">Fecha:</h4>
                                                <h4 id="myModalLabel{{ contador }}">Asunto: {{ datos.asunto }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ datos.body }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                <button data-dismiss="modal" class="btn blue">Responder</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="hidden-phone"></td>
                            </tr>
                            {% set contador = contador + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Formulario para componer y enviar un correo -->
                <form action="{{ path('management_user_send') }}" method="post" id="composeform" style="display: none">
                    <div class="inbox-control-group mail-to">

                        <label class="control-label">Destinatario:</label>
                        <div class="controls controls-to">
                            <input type="text" class="m-wrap span12" name="to">
                        </div>
                    </div>
                    <div class="inbox-control-group">
                        <label class="control-label">Asunto:</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" name="subject">
                        </div>
                    </div>
                    <div class="inbox-control-group">
                        <textarea class="span12 inbox-editor inbox-wysihtml5 m-wrap" name="message" rows="12"></textarea>
                    </div>
                    <div class="inbox-compose-btn">

                            <a href="javascript:$('#composeform').submit();$('#inboxform').style('block');$('#composeform').style('none');" data-title="Compose" class="btn green">
                                <i class="icon"></i> Enviar
                            </a>

                        <button class="btn">Cancelar</button>
                    </div>
                </form>

            {% block cuerpo %}
            {% endblock %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}